<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Fontys Demo</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <div id="info">
        Dit is een demo applicatie ter demonstratie van het scannen van barcodes in Ionic
      </div>

      <ion-button expand="block" v-on:click="test" id="button">Scannen</ion-button>
    </ion-content>
  </ion-page>
</template>

<style>
#info {
  margin: 25px 0;
  text-align: center;
}

#button {
  margin: 0 15px;
}
</style>

<script lang="ts">
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, toastController } from '@ionic/vue';
import { BarcodeScanner } from '@ionic-native/barcode-scanner';

export default  {
  name: 'Tab1',
  components: { IonHeader, IonToolbar, IonTitle, IonContent, IonPage },

  methods: {
    async sendToast(message: string) {
      const toast = await toastController
          .create({
            message: message,
            duration: 10000
          })

      return toast.present();
    },

    test() {
      BarcodeScanner.scan().then(result => {
        this.sendToast(`Scan resultaat: '${result.text}' in formaat '${result.format}'`);
      }).catch(errorMsg => {
        this.sendToast(`Error: ${errorMsg}`);
      });
    },
  }
}
</script>